@font-face {
    font-family: custom;
    src: url(font.otf);
}

/* Reset*/
* {
    margin:0;
    padding:0;
}

html,body{
    height:100%;
    width:100%;
}

main{
    height:80%;
    width:80%;
    background-image: url("image.jpg");
    background-size: cover;
    color: blue;
    text-align: center;
    font-size:20px;
    font-family:custom,sans-serif;
}